/* FetchData.css */
.list_data {
    border-radius: 8px;
    size: 8px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-color: black;
}

.list_data img {
    size: 8px;
    size-adjust: 8px;
}

.yoga_data_main {
    list-style: none;
    padding: 0;
}

.yoga_heading {
    text-align: center;
}

.list_data_main {
    list-style: none;
    padding: 0;
  }
  .usefetch_heading{
    text-align: center;
  }
 .list_data {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .list_data h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .list_data p {
    margin: 5px 0;
  }
  
